.audio-player {
    height: 4.6875rem;
    width: 35rem;
    max-width: 100%;
    background: #444;
    box-shadow: 0 0 1.25rem 0 #000a;
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 0.375rem auto;
    border-radius: 0 0 0.375rem 0.375rem;
    font-size: 1.125rem;
}

.audio-player .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.625rem 0 #0008;
    height: 0.6875rem;
}

.audio-player .timeline .progress {
    background: coral;
    width: 0%;
    height: calc(100% - 0.125rem);
    transition: 0.25s;
    border-radius: 0;
    margin-top: 0.0625rem;
}

.audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1.25rem;
}

.audio-player .controls>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 0.75rem solid #0000;
    border-left: 1.25rem solid white;
}

.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}

.audio-player .controls .toggle-play.pause {
    height: 0.9375rem;
    width: 1.25rem;
    cursor: pointer;
    position: relative;
}

.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0rem;
    background: white;
    content: "";
    height: 0.9375rem;
    width: 0.1875rem;
}

.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 0.5rem;
    background: white;
    content: "";
    height: 0.9375rem;
    width: 0.1875rem;
}

.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}

.audio-player .controls .time {
    display: flex;
}

.audio-player .controls .time>* {
    padding: 0.125rem;
}

.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.audio-player .controls .volume-container .volume-button {
    height: 1.625rem;
    display: flex;
    align-items: center;
}

.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(1);
}

.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -0.1875rem;
    top: 1.6875rem;
    z-index: -1;
    width: 0;
    height: 0.9375rem;
    background: white;
    box-shadow: 0 0 1.25rem #000a;
    transition: 0.25s;
}

.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: coral;
    height: 100%;
    width: 75%;
}

.audio-player .controls .volume-container:hover .volume-slider {
    left: -7.6875rem;
    width: 7.5rem;
}

.icono-volumeHigh:before,
.icono-volumeMedium:before {
    border-width: 0.75rem;
}